<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <mat-form-field>
    <input
      matInput
      name="name"
      placeholder="Name"
      #name="ngModel"
      ngModel
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput name="email" placeholder="Email" ngModel required email />
  </mat-form-field>
  <label>Address </label>

  <div class="address" ngModelGroup="address" #address="ngModelGroup">
    <mat-form-field>
      <input matInput name="rue" placeholder="rue" ngModel required />
    </mat-form-field>
    <mat-form-field>
      <input matInput name="ville" placeholder="ville" ngModel required />
    </mat-form-field>
    <mat-form-field>
      <input matInput name="cp" placeholder="code_postal" ngModel required />
    </mat-form-field>
  </div>
  <button mat-raised-button>Submit</button>
  <ng-container
    *ngIf="
      myForm.controls.email &&
      !myForm.controls.email.valid &&
      myForm.controls.email.touched
    "
  >
    <br />
    Erreur control mail !
  </ng-container>
  <ng-container *ngIf="name && !name.valid && name.touched">
    <br />
    Erreur control name !
  </ng-container>
  <ng-container *ngIf="address && !address.valid && address.touched">
    <br />
    Erreur control ADDRESS !
  </ng-container>
</form>
