<mat-progress-bar
  *ngIf="isLoading$ | async"
  mode="buffer"
  style="position: absolute"
></mat-progress-bar>

<mat-toolbar color="primary">
  <span>Resume Angular</span>
  <a
    class="first-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-button
    routerLink="/"
    >Home</a
  >
  <a mat-button routerLinkActive="active" routerLink="/admin">Admin</a>
  <a mat-button routerLinkActive="active" routerLink="/users">users</a>
</mat-toolbar>
<main class="content">
  <router-outlet></router-outlet>
</main>
