<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput name="name" formControlName="name" placeholder="Name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput name="email" formControlName="email" placeholder="Email" />
    <mat-error
      *ngIf="
        signUpForm.get('email')?.hasError('email') &&
        !signUpForm.get('email')?.hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div>
    <mat-radio-group name="genre" formControlName="genre">
      <label>genre : </label>
      <mat-radio-button *ngFor="let genre of genres" [value]="genre">{{
        genre
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <label>Address </label>

  <div class="address" formGroupName="address">
    <mat-form-field>
      <input matInput name="rue" formControlName="rue" placeholder="rue" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="ville"
        formControlName="ville"
        placeholder="ville"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="cp"
        formControlName="cp"
        placeholder="code_postal"
      />
      <mat-error *ngIf="signUpForm.get('address.cp')?.hasError('required')">
        CP is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit" [disabled]="!signUpForm.valid">
    Submit
  </button>
</form>
